# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Compiled Python files
*.so

# ==========================
# Virtual Environment
# ==========================
venv/
env/
ENV/
.venv/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Environment Variables
# ==========================
.env


# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Distribution
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak

dataset/mnist_train.csv